.banner{

    @include until(phablet){
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+14,0.65+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    }

    
    @include from(tablet){
        background-image: url('/media/bg5.jpg');
        background-position: center;
        background-size: cover;

    }


    @include from(desktop){
        height: 100vh;
        position: relative;
        background-image: none;

    }



    // BANNER VIDEO

    &-video{
        display: none;

        @include from(desktop){
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: $z-back;
   
        }


    }

    &-overlay{
        display: none;

        @include from(desktop){
            display: block;
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #e9e9e9;
            z-index: $z-back;
            opacity: 0.8;
        }
    }

}

.main-banner{
    width: auto;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__s1{


        @include from(tablet){
            width: 50vw;
            height: 60vh;
        }
        
        @include from(desktop){

            width: 50vw;
            height: 60vh;
        }

        & h2{
            font-size: 2em;
            margin-bottom: 1rem;

            @include from(tablet){
                font-size: 2.5em;
                margin-bottom: 1rem;
            }
            @include from(desktop){
                font-size: 3em;
                margin-bottom: 3rem;
            }
        }

        & p{
            font-size: 1.1em;
            margin-bottom: 1rem;

            @include from(tablet){
                font-size: 1.5em;
                margin-bottom: 1rem;
            }

        }


        & div{
            display: inline-block;
            height: 3rem;
            margin: 0 auto;
            border: 2px solid #444;

            & a{
                
                width: 100%;
                height: 100%;
            }
        }
    }
}