.brands{
    width: 100%;
    height: 20rem;
    margin-top: 3rem;
    background-image: url('/media/bg3.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    position: relative;
    z-index: $z-back;


    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: $z-back;
    }


}

.main-brands{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9e9e9;
    font-size: 1.5em;
    flex-wrap: wrap;
    text-align: center;

    @include until(phablet){
        font-size: 1em;
    }
    
    &__item{
      flex: 1 1 300px;



      & i{
          font-size: 2rem;
          margin-right: .5rem;
      }
    }
}
