.btn{
    font-weight: bold;
    cursor: pointer;

    & a{
        
        font-size: 1em;
        color: inherit;
        padding: .5em 1em;
    }
    &--light{
        border: 1px solid $border-button-light;
        color: $color-button-light ;
    }

    &--light:hover{
        
        color:$color-button-dark;
        background-color:$bg-button-dark;
        transition: background-color .5s;
    }

    &--dark{
        background: $bg-button-dark;
        color: $color-button-dark;
    }

    
}

