.contacto{
    height: auto;
    // padding-top: 3rem;
}

.main-contacto{
    width: 100%;

    &__content{
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;
        padding-bottom: 3rem;

    

        &-s1{
            flex: 1 1 300px;
            margin: 1rem;

            & address{
                
                & p{
                    
                    margin-bottom: 30px; 
                   
                    

                    & i{
                        display: inline-block;
                        font-size: 1.5em;
                        border: 1px solid #303030;
                        width: 2em;
                        height: 2em;
                        padding: .4em;
                        margin-right: 10px;
                        text-align: center;
                    
                    }
                    & i::before{
                        width: 100%;
                        height: 100%;
                        
                        
                    
                    }
                }
            }

            &__social{

                & ul{

                    display: flex;

                    & li{

                        margin-right: 5px;
                        transition: background-color .5s;

                        & a{
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 2em;
                            height: 2em;
                            color:inherit;
                            border: 1px solid #303030;
                            font-size: 1.5em;
                            text-align: center;
                

                            & i{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                        }

                        &:hover{
                            background-color: #444;
                            color: #e9e9e9;
                        }
                    }
                }
            }

            
        }

        &-s2{
            flex: 1 1 300px;
            margin: 1rem;
            
        }
    }
}


.contact-form{

    & form{
        display: block;
    }

    &__item{
        margin-bottom: 1rem;


        & .c-input{
            border-color:#e9e9e9;
            box-shadow: none;
            
           
        }

        & .c-Message{
            height: auto;
        }

        & .c-btn{
            display: inline-block;
            padding: .75em 1.8em;
            color: #fff;
            border: 2px solid transparent;
            border-radius: 0;
            font-size: 1.1em;
            line-height: 1.3em;
            font-weight: 700;
            background-color:$bg-button-dark;
        }
    }
}

.form-control{
    display: block;
    width: 100%;
    height: 2rem;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    

    &:focus{
        outline: 0;
        border: 1px solid black;
    }

}
