.feedback{
    width: 100%;
    height: 20rem;
    margin-top: 3rem;
    background-image: url('/media/bg3.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    position: relative;
    z-index: $z-back;


    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: $z-back;
    }
}

.main-feedback{
    display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    & img{
        flex: 1 1 100px;
        margin: .5em;
        width: 1rem;
        height: 5rem;


        @include until(phablet){
            width: 1rem;
            height: 3rem;
        }

    }
}