.footer{

    &__map{
        width: 100%;
        height: 30rem;
        margin: 0;
        padding: 0;
        border: none;
    }

    &__content{
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #333333;
        text-align: center;
        color: $light;
    }
}

