.header{
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: $z-fixed;

    &-active{
        box-shadow: 0 0 .5em $black-ter;
        background-color: $white;
        z-index: $z-fixed;
    }

}


.main-header{

    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__s1{
        display: flex;
        align-items: center;
        
        & img{
            max-width: 100%;
            margin-right: .5rem;
            border-radius: 50%;
            
        }

        &-user{
            
            & h1{
            }

            & p{
            }
        }

    }

    &__s2{
        display: flex;
        align-items: center;

        & .burger, & .modal-btn{
            width: 3rem;
            margin-left: .5rem;
            font-size: 1.5em;
            color: #444;
            height: 3rem;
            @include from(desktop){
                display: none;
            }

            & img{
                width: 100%;
                height: 100%;
            }
        }

        & .contratame{
            border: 2px solid #444;
            width: auto;
            height: 100%;
            display: none;
            padding: .8em 1em;

            @include from(desktop){
                display: block;
            }
        }

    }
}
