.main-menu{

    position: absolute;
    top: $header-height;
    height: 100vh;
    width: 70vw;
    right: -70vw;
    background: white;
    z-index: $z-tooltip;
    transition: right 1s;
    


    @include from(desktop){
        width: 100%;
        height: 100%;
        display: block;
        position: static;
        background: transparent;
        z-index: $z-normal;
    }


    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @include from(desktop){
            flex-direction: initial;
        }
    }
    &__item{
        padding: 1rem;
        position: relative;

        & span{
            position: absolute;
            width: 0;
            height: 1px;
            transition: width 1s 1s;
            

        }


        

    }
    
    &__link{

        &:after{
            content: "";
            display: block;
            height: 1px;
            transform: scale(0);
            transform-origin: left;
            background-color: #444444;
            transition: transform .3s  ease-in-out;
        } 

        &:hover:after{
            transform: scale(1);
        }
    }
    


    &-show{
        right: 0;
    }
}
