
.modal {
  display: none;
  position: fixed;
  z-index: $z-modal;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;

}

.modal-content {
  margin: 12vh auto;
  width: 60vw;
  height: 80vh;
  animation-name: modalopen;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @include until(phablet){
    width: 80vw;

  }


  &__s1{
    background-color: #444444;
    color: white;
    padding: 1em 3em;
    position: relative;
    & h5{
      font-size: 1.5em;
      font-weight: bold;
    }

    & p{
      font-size: .9em;
    }

    & span{
      position: absolute;
      top:0;
      right: .5rem;
      font-size: 1.5em;
      cursor: pointer;

    }
  }

  &__s2{
    background-color: #f3f3f3;
    padding: 1em 3em;

    @include until(phablet){
      padding: 1em;
    }


      &-s1{
         
        & div:nth-child(1){
          @include from(desktop){
            display: flex;
           
          }
        }
        & div:nth-child(2){
          @include from(desktop){
            display: flex;
          }
        }

        & input{
          width: 100%;
          min-height: 2.5rem;
          margin-top: 1.2rem;
          padding-top: .5rem;
          padding-bottom: .5rem;
          color: #999999;
          border: 1px solid #aaa;
          font-size: .8em;
          text-indent: .8em;
          resize: none;

          &:nth-child(1){
            @include from(desktop){
              margin-right: 1rem;
            }
          }

          }
        & select{
          display: inline-block;
          width: 100%;
          min-height: 2.5rem;
          margin-top: 1.2rem;
          padding-top: .5rem;
          padding-bottom: .5rem;
          color: #999;
          background-color: #fff;
          border-color: #aaa;
          border-radius: 0;
          cursor: pointer;

        }
      }

      &-s2{
          margin: 0;
          padding: 0;
        
 
        & textarea{
          width: 100%;
          min-height: 2.5rem;
          margin-top: 1.2rem;
          padding-top: .5rem;
          margin-bottom: 0;
          color: #999999;
          border: 1px solid #aaa;
          font-size: .8em;
          text-indent: .8em;
          resize: none;
          outline: 0;
        } 

        & .modal-container{


          @include from(tablet){
            display: flex;
          }


          &-upload , &-info{

              width: 100%;
              min-height: 2.5rem;
              color: #999999;
              border: 1px solid #aaa;
              font-size: 1em;
              text-indent: 1em;
              resize: none;
              background-color: #fff;
              text-align: center;

            @include from(tablet){
              
              width: 50%;
              
            }
          }

          &-upload{
            display: flex;
            align-items: center;
            
            & label{
              width: 100%;
              height: 100%;
            }
          }
          &-info{
            border-top: none;
            @include from(tablet){
              border: 1px solid #aaa;
              border-left: none;
            }
          }

        }
          
      
      }

      &-s3{
        display: flex;
        justify-content: center;
        align-items: center;

        & input{
          padding: 1em 2em;
          margin: 1rem auto;
          border-width: 0;
        }
      }
    }
  }





