.precios{
    height: auto;
}

.main-precios{



    &__content{
        margin-top: 3rem;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        justify-content: center;
    }
}

.content-item{
    width: 100%;
    transition: box-shadow .25s ease-in-out;
    border: 1px solid #e9e9e9;

    &:hover{
        box-shadow: 0 0 2em #e9e9e9;
    }

    &__s1{
        height: 5rem;

        & h3{
            font-size: 1.5em;
        }
    }
    &__s2{
        height: 7rem;
        color: #f8f8f8;
        background: #333333;
        display: block;
        text-align: center;

        & p{
            padding: .5rem 0; 
            position: relative;
            z-index: $z-normal;
        
            &:before , &:after {
                        content: " ";
                        position: absolute;
                        left: 0;
                        opacity: 0.5;
                        z-index: $z-back;
                    }
            
            &:before{
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: white;
            }
            
            &:after{
                    right: 0;
                    width: 0;
                    bottom: -10px;
                    height: 0;
                    margin: 0 auto;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: white transparent transparent transparent;
            }
        }

        & h5{
            font-size: 3em;
            line-height: 4rem;
            font-weight: 700;
        }

    }

    &__s3{

        & ul{
            width: 100%;
        }

        &-item{
            width: 100%;
            border-bottom: 1px solid #e9e9e9;
            height: 3rem;

        }
    }

    &__s4{

        height: 5rem;
        & div{

            display: inline-block;
            height: 3rem;
            border: 2px solid #444444;

            & a{
                width: 100%;
                height: 100%;
            }
        }

    }
}




// .main-feature{

//     &__item{
//         border-bottom: 1px solid #e9e9e9;
//         height: 3rem;
//         padding: auto;
//     }
// }