.servicios{
    height: auto;
    color: $light;
    // padding-top: 3rem;
    background-image: url('/media/bg1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: $z-back;

    &:before{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:$bg-section-dark;
        opacity: 0.6;
        z-index: $z-back;
    }
}

.main-servicios{


    &__content{
        width: 100%;
        margin-top: 3rem;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        padding-bottom: 3rem;
        justify-content: center;

        &-item{
            display: flex;
        
            
            

            &-avatar{
                width: 4rem;
                height: 3rem;
                margin-top: 1rem;
                margin-right: 1rem;

                

                & i {
                   font-size: 2.3em;
                   
                 
                }
                
            }
    
            &-info{
                width: 100%;
                

                & h4{
                    display: flex;
                    width: auto;
                    height: 4rem;
                    font-size: 1.4em;

                    & strong{
                        color: inherit;
                    }
              

                    @include until(624px){
                        height: auto;
                    }
                }

                & p{
        
                }
            }

        }


    }
}