.sobremi{
    height: auto;
    // padding-top: 3rem;
}

.main-sobremi{
    width: 100%;

    &__content{
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;
        padding-bottom: 3rem;
       

    

        &-s1{
            flex: 1 1 300px;
            margin: 1rem;

            & p{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            & div{
                margin: 1rem auto;
                display: inline-block;
                height: 3rem;

                & a{
                    width: 100%;
                    height: 100%;

                }
            }
            
        }

        &-s2{
            flex: 1 1 300px;
            margin: 1rem;


            & h5{
                margin-top: .5rem;
                // margin-bottom: .5rem;
                font-weight: bold;
            }



    
        }
    }
}