.trabajos{
    height: auto;
}

$animation-time:1s;
$color:#444444;

.gallery{     
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-content: center;
    position: relative;

    &-hero{
        padding: .5rem;
        border-radius: 10px;
        transition: background-color .5s;

        &:hover{
            padding: .5rem;
            background-color: #f2f2f2;
            border-radius: 10px;
        }
    }
    

    &-item{
        border-radius:5px;
        height: 30rem;
        width: 100%;
        background-size: cover;
        margin: auto;
        position: relative;
        overflow: hidden;

    
        &__btn{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background: $color;
            position: absolute; 
            bottom: 1rem;
            right: 1rem;
            z-index: $z-tooltip;
            transition: transform $animation-time;
        
            cursor: pointer;
        
            &.pulsed{
                transform: rotate(45deg);
                background: darken($color,15);
                

            }
        
            &::before,
            &::after{
                position: absolute;
                width: 40%;
                height: 4%;
                content: '';
                top:49%;
                left: 30%;
                background: #fff;
             
            }
            
            &::after{
                transform: rotate(90deg);
            }
        }


        &__nav{
            
            font-size: 2em;
            position: absolute;
            width: 16rem;
            height: 16rem;
            background: $color;
            bottom: -5.5rem;
            right: -5.5rem;
            border-radius: 50%;
            transform: scale(0) rotate(-180deg);
            opacity: 0;
            transition: all $animation-time;
            z-index: $z-normal;
        
            &.expand{
                transform: scale(1) rotate(0);
                opacity: 1;
                
                
            }
        
            & li{
                color: #e9e9e9;
                position: absolute;
                width: 2rem;
                top: 2rem;
                left: calc(50% - 1rem);
                transform-origin: center 6rem;

                & a{
                    color: #e9e9e9;
                }
            }
            
        
        }


    }
     
}

@for $i from 1 through 6{
    .web-#{$i}{
        background-image: url('/media/web#{$i}.jpg')
    }
}

// crear menus de acuerdo a la cantidad 
$elements : 2;

@for $i from 2 through $elements {
    .gallery-item__nav li:nth-child(#{$i}){
        $rotation: (90 / ($elements - 1)) * ($i - 1);
        transform: rotate(-#{$rotation}deg);
        a {
            transform: rotate(#{$rotation}deg)
        }
    }
}




