

// Blocks
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: 100%;
  font-weight: normal;
}
// List
ul{
  list-style: none;
}
// Form
button,
input,
select,
textarea{
  margin: 0;
}
// Box sizing
html {
  box-sizing: border-box;
}

* {
  &,&:before,&:after{
    box-sizing: inherit;
  }
}


audio { max-width: 100% ;}

// Iframe
iframe{
  border: 0;
}
// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0 ; 
  text-align: left;
}

// Reset Genericos

$body-background-color: $white ;
$body-size: 16px ;
$body-rendering: optimizeLegibility ;
$body-family: $family-primary ;
$body-color: $text ;
$body-weight: $weight-normal ;
$body-line-height: 1.5 ;

$code-family: $family-code ;
$code-padding: 0.25em 0.5em 0.25em ;
$code-weight: normal ;
$code-size: 0.875em ;

$hr-background-color: $background ;
$hr-height: 2px ;
$hr-margin: 1.5rem 0 ;

$strong-color: $text-strong ;
$strong-weight: $weight-bold ;

html{
  background-color: $body-background-color;
  font-size: $body-size;
  min-width: 300px;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;

}

article,
aside,
figure,
footer,
header,
hgroup,
section{
  display: block;
}

body,
button,
input,
select,
textarea{
  font-family: $body-family;
}


code,
pre{
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: $code-family;
}

body{
  color: $body-color;
  font-size: 1rem;
  font-weight: $body-weight;
  line-height: $body-line-height;
  overflow-x: hidden;
}
// Inline

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;

  & strong{
    color: currentColor;
  }  
  &:hover{
    color: $link-hover;
  }
}

code{
  background-color: $code-background;
  color: $code;
  font-size: $code-size;
  font-weight: $code-weight;
  padding: $code-padding;
}

hr{
  background-color: $hr-background-color;
  border: none;
  display: block;
  height: $hr-height;
  margin: $hr-margin;
}


img{
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"]{
  vertical-align: baseline;
}
input[type=button],
input[type=reset], 
input[type=submit]{
   -webkit-appearance: button;
   cursor: pointer;
 }

small{
  font-size: 0.875em;
}

span{
  font-style: inherit;
  font-weight: inherit;
}

strong{
  color: $strong-color;
  font-weight: $strong-weight;
}

// Block

fieldset{
  border: none;
}

pre {
  background-color: $pre-background;
  color: $pre;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
    & code{
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
    }
}

table{

  & td,& th{
    text-align: left;
    vertical-align: top;
  }
  & th {
    color: $text-strong;
  }
}