

.l-section{
    padding-top: $header-height;
    // scroll-snap-align: center;
}
.container-site{
    width: 100%;
    height: 100%;
    // overflow-y: scroll;
    // scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;

}


.l-container{
        max-width: $max-width;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: auto;
        margin-left: auto;
       
}

.center-content{
   text-align: center; 
}

.center-block{
    margin-right: auto;
    margin-left: auto;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}