@keyframes spinAround {
    from{
    transform: rotate(0deg);
    }
    to{
    transform: rotate(359deg);
    }
}



@keyframes preloaderBouncer {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


@keyframes animatebar{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


@keyframes modalopen {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
      
    }
  }