/* ********** Mixin Mediaquerys********** */


@mixin until($bp){
    @if map-has-key($breakpointsMinor,$bp){
        @media screen and (max-width: map_get($breakpointsMinor,$bp)){
            @content;        
        }
    } @else{
        @media screen and (max-width:$bp){
            @content;
        }
    }
}

@mixin from($bp){
    @if map-has-key($breakpointsMajor,$bp){
        @media screen and (min-width: map_get($breakpointsMajor,$bp)){
            @content;        
        }
    } @else{
        @media screen and (min-width:$bp){
            @content;
        }
    }
}



