$header-height:4.5rem;
$bg-section-dark:black;
$light:#e9e9e9;

// Colors

$black:        hsl(0, 0%, 4%) ;
$black-bis:    hsl(0, 0%, 7%) ;
$black-ter:    hsl(0, 0%, 14%) ;

$grey-darker:  hsl(0, 0%, 21%) ;
$grey-dark:    hsl(0, 0%, 29%) ;
$grey:         hsl(0, 0%, 48%) ;
$grey-light:   hsl(0, 0%, 71%) ;
$grey-lighter: hsl(0, 0%, 86%) ;

$white-ter:    hsl(0, 0%, 96%) ;
$white-bis:    hsl(0, 0%, 98%) ;
$white:        hsl(0, 0%, 100%) ;

$orange:       hsl(14,  100%, 53%) ;
$yellow:       hsl(48,  100%, 67%) ;
$green:        hsl(141, 71%,  48%) ;
$turquoise:    hsl(171, 100%, 41%) ;
$cyan:         hsl(204, 86%,  53%) ;
$blue:         hsl(217, 71%,  53%) ;
$purple:       hsl(271, 100%, 71%) ;
$red:          hsl(348, 100%, 61%) ;

// buttons
$border-button-light: $black-ter;
$bg-button-light: transparent;
$color-button-light:$black-ter;

$border-button-dark: $black-ter;
$bg-button-dark: #444444;
$color-button-dark:$white-bis;


// Variables de apilamiento (z-index)
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;



// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Raleway', sans-serif;
$family-monospace: monospace ;
$render-mode: optimizeLegibility ;



$weight-light: 300 ;
$weight-normal: 400 ;
$weight-medium: 500 ;
$weight-semibold: 600 ;
$weight-bold: 700 ;




$light: $white-ter ;
$dark: $grey-darker ;


// General colors

$background: $white-ter ;
$border: $grey-lighter ;
$border-hover: $grey-light ;

// Text colors

$text: $grey-dark ;
$text-light: $grey ;
$text-strong: $grey-darker ;

// Code colors

$code: $red ;
$code-background: $background ;

$pre: $text ;
$pre-background: $background ;

// Link colors

$link: $black-ter;


$link-hover: none ;


$link-focus: $grey-darker ;
$link-focus-border: $blue;

$family-primary: $family-sans-serif ;
$family-secondary: $family-sans-serif ;
$family-code: $family-monospace ;




$max-width: 1200px;

// BreakPoints Major

$gap: 64px ;

$breakpointsMajor: (
  fullhd        : 1344px + (2 * $gap),  
  widescreen    : 1152px + (2 * $gap),
  desktop       : 960px + (2 * $gap),
  tablet        : 768px
);


// BreakPoints Minor

$breakpointsMinor:(
    phablet : 767px,
    mobile  : 576px,
    smallmobile: 360px
);

