.border{
    border: 1px solid $border-button-light;
}

.tittle{
    font-size: 2em;
    position: relative;
    // z-index: $z-normal;
    color: $black-ter;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;


    &--dark{
        font-size: 2em;
        position: relative;
        // z-index: $z-normal;
        color: $black-ter;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-weight: bold;
        color: $light;

        &:after,&:before{
            content: " ";
            position: absolute;
            border-style: solid;
            border-color:$light;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: $z-normal;
        }
        &:after{
            width: 200px;
            bottom: 0;
            border-width: 1px 0 0 0;
    
        }
        &:before{
            border-width: 1px 0;
            bottom: -5px;
            width: 100px;
            padding: 4px 0 5px;
            opacity: 0.67;
        }
    }
    &:after,&:before{
        content: " ";
        position: absolute;
        border-style: solid;
        border-color: #303030;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: $z-normal;
    }
    &:after{
        width: 200px;
        bottom: 0;
        border-width: 1px 0 0 0;

    }
    &:before{
        border-width: 1px 0;
        bottom: -5px;
        width: 100px;
        padding: 4px 0 5px;
        opacity: 0.67;
    }

}

.subtittle{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5em;

}



.progress {

    background-color: #d2d6d7;
    width: 100%;
    height: 1.5rem;
    border-radius: 10px;




    &-bar{
        border-radius: 10px;
        background: gray;
        height: 100%;
        max-width: 90%;


        & p{
            text-align: right;
            padding-right: .5rem;
            color: white;
            font-size: .9em;
        }
    }

}






